<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <title>Coursaty - 404 - Not found</title>
        <meta name="description" content="">
        <meta name="author" content="iSeada.com">
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="style.css">
        <!-- Responsiveness -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- FAV & Touch Icons -->
        <link rel="shortcut icon" href="assets/img/icons/favicon.ico">
        <link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/icons/apple-touch-icon-144x144.png">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="assets/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <div id="entire">
            <div class="loader"></div>
            <section class="error-page full-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="not-found">
                                <span class="num">404</span>
                                <span class="text">Page not found.</span>
                            </div><!-- end 404 circle -->
                            <div class="error-message">We're sorry, but the page you were looking for doesn't exist.</div><!-- end error msg -->
                            <div class="share-icons clearfix">
                                <p class="text fl">We Are Fixing The Error At This Moment</p>
                                <div class="icons fr">
                                    <ul class="clearfix">
                                        <li><a href="#" class="fb-icon ln-tr"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="tw-icon ln-tr"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="gp-icon ln-tr"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="in-icon ln-tr"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- end share page -->
                        </div>
                    </div>
                </div><!-- end container -->
            </section><!-- end 404 section -->
        </div><!-- End Entire Wrap -->
        <!-- jQuery -->
        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <!-- Plugins -->
        <script src="assets/js/bsmodal.min.js"></script>
        <script src="assets/js/jquery.countdown.min.js"></script>
        <script src="assets/js/jquery.easydropdown.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/jquery.isotope.min.js"></script>
        <script src="assets/js/jquery.themepunch.tools.min.js"></script>
        <script src="assets/js/jquery.themepunch.revolution.min.js"></script>
        <script src="assets/js/jquery.viewportchecker.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>
</html>
